workflows/Code migrator.json
{
  "name": "Code migrator",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "cc9a667d-8a45-4f2b-b679-39996564f270",
      "name": "When chat message received",
      "webhookId": "eb96da5a-2be7-4fd5-bcf3-352774d67e49"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        16,
        224
      ],
      "id": "69045318-c8d3-47d6-bb7f-6f62c5d2b49c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Q3My46gJ3nhLIAeD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Control clone operation git.",
        "operation": "clone",
        "repositoryPath": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('New_Repository_Path', ``, 'string') }}",
        "sourceRepository": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Source_Repository', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gitTool",
      "typeVersion": 1,
      "position": [
        576,
        528
      ],
      "id": "3b41221c-52d4-4916-9894-a66bfc0be10a",
      "name": "git - clone repo"
    },
    {
      "parameters": {
        "description": "create dir if you get error it's not exist",
        "language": "python",
        "pythonCode": "import os\n\nos.makedirs(query, exist_ok=True)\n\nreturn \"Dir created:\" + query"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        1008,
        416
      ],
      "id": "854e1d12-16f1-4ecf-9815-df7fb6493a63",
      "name": "Create DIR"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get a user's repositories in GitHub",
        "resource": "user",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Repository_Owner', ``, 'string') }}"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.githubTool",
      "typeVersion": 1.1,
      "position": [
        224,
        528
      ],
      "id": "6cb0250d-93bd-4646-aba2-9f6266d1fb32",
      "name": "Get a user's repositories in GitHub",
      "webhookId": "694bd1b7-d738-4687-b6ea-c46ca23b80c1",
      "credentials": {
        "githubApi": {
          "id": "5KkLVIwyBbfNMHkb",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "description": "Delete directory",
        "language": "python",
        "pythonCode": "\nimport shutil\nimport os\n\nos.makedirs(query, exist_ok=True)\nshutil.rmtree(query)\nreturn \"Dir deleted: \" + query"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        1184,
        416
      ],
      "id": "e646bb82-6e80-4768-903d-07655bfd0aa7",
      "name": "Delete DIR"
    },
    {
      "parameters": {
        "description": "call this tool to get tree structure and see content of the folder provided in query",
        "language": "python",
        "pythonCode": "import os\nimport sys\n\ntry:\n    base_path = query\nexcept IndexError:\n    base_path = \".\"  \n\ndef get_dir_tree_string(base_path):\n    \"\"\"\n    Returns a multi-line string of the directory tree.\n    \"\"\"\n    if not os.path.isdir(base_path):\n        return f\"Error: Path is not a valid directory: {base_path}\"\n        \n    output_lines = []\n    \n    # Use os.walk() to get all paths recursively\n    for dirpath, dirnames, filenames in os.walk(base_path):\n        # Add the directory path itself\n        output_lines.append(f\"{dirpath}{os.sep}\")\n        \n        # Add the file paths in the current directory\n        for filename in filenames:\n            file_path = os.path.join(dirpath, filename)\n            output_lines.append(file_path)\n\n    # Join all lines into a single string with newlines\n    return \"\\n\".join(output_lines)\n\ntry:\n    # Generate and print the directory tree string\n    tree_string = get_dir_tree_string(base_path)\n    return \"Exist: \" + tree_string\n\nexcept Exception as e:\n    return f\"An error occurred: {str(e)}\""
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        848,
        416
      ],
      "id": "0209b6c3-20c7-427e-b4b7-156c69f768f5",
      "name": "Dir structure"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}\n\nYou are highly trained specialist who can migrate any code to any other languages and platforms.\n\nFor project {repo} complete a code migration under folder {folder} (determine original language) of specific files to programming language {pl}. If you see one file, not a folder, just migrate this file. Make sure all proper configuration and build tools configs for the target generated as well. language Retry several times and verify if files exist. Important logic approach steps:\n\n1. Iterate over all file under folder {folder} and it's subfolders, formulate a list of files to migrate in a form of dir structure like: /folder1/subfolder1/file1, /folder2/file2, etc. Ignore files like documentation, exec files - consider only important with code;\n\n2. Using github tools, extract content of the file, use Base64 decode tool to get content of the files;\n\n3. Migrate files to code language {pl}, store results of each file in similar structure within the same github repository with folder structure prefix {pl}, example: {pl}/folder1/subfolder1/file1, {pl}/folder2/file2, etc (use create file in github tool for this);\n\n4. upload and commit code to same {repo};\n\n5. generate configuration and setup files for target language with respective dependencies mentioned in migrated files under folder structure prefix {pl}; \n6. upload and commit configuration to same {repo};\n\n7. make sure all files created and uploaded to github;",
        "options": {
          "maxIterations": 1000000000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "5412d6c4-b179-46c1-868f-214782bb1925",
      "name": "Project Creator Agent",
      "retryOnFail": true,
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "status",
        "repositoryPath": "={{ $fromAI('Repository_Path', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gitTool",
      "typeVersion": 1,
      "position": [
        400,
        528
      ],
      "id": "83be2032-a403-4402-99b1-54698607eebd",
      "name": "Git - project status"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Repository_Owner', ``, 'string') }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Repository_Name', ``, 'string') }}"
        },
        "filePath": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Path', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.githubTool",
      "typeVersion": 1.1,
      "position": [
        48,
        528
      ],
      "id": "addb1995-33c9-4f87-ba12-84076c60d5bc",
      "name": "List files in GitHub",
      "webhookId": "851dda6a-5ff7-4a92-ba7f-af3cbcf11975",
      "credentials": {
        "githubApi": {
          "id": "5KkLVIwyBbfNMHkb",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Repository_Owner', ``, 'string') }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Repository_Name', ``, 'string') }}"
        },
        "filePath": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_Path', ``, 'string') }}",
        "fileContent": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_Content', ``, 'string') }}",
        "commitMessage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Commit_Message', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.githubTool",
      "typeVersion": 1.1,
      "position": [
        -192,
        816
      ],
      "id": "66444559-c842-451c-8d8a-931514db33fd",
      "name": "Create a file in GitHub",
      "webhookId": "27d4938f-1fd2-4f4d-bc96-8c1d0f0812c4",
      "credentials": {
        "githubApi": {
          "id": "5KkLVIwyBbfNMHkb",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Repository_Owner', ``, 'string') }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Repository_Name', ``, 'string') }}"
        },
        "filePath": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_Path', ``, 'string') }}",
        "asBinaryProperty": false,
        "additionalParameters": {
          "reference": "={{ $fromAI('Reference', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.githubTool",
      "typeVersion": 1.1,
      "position": [
        -336,
        816
      ],
      "id": "9146e36b-02c2-467d-97c7-29e3e99f6db7",
      "name": "Get a file in GitHub",
      "webhookId": "5b15cca1-3ed3-4db5-bfb4-3546b1ec524b",
      "credentials": {
        "githubApi": {
          "id": "5KkLVIwyBbfNMHkb",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "description": "call this tool to decode base64 string",
        "language": "python",
        "pythonCode": "import base64\n\ndef fix_base64_padding(s):\n    \"\"\"\n    Adds padding to a Base64 string if it's missing.\n    \"\"\"\n    # Calculate the number of padding characters needed\n    padding_needed = len(s) % 4\n    if padding_needed != 0:\n        s += '=' * (4 - padding_needed)\n    return s\n\nencoded_bytes = query.encode('utf-8')\n\n# Step 2: Decode the Base64 bytes to regular bytes.\ndecoded_bytes = base64.b64decode(encoded_bytes)\n\n# Step 3: Decode the regular bytes back to a string.\ndecoded_string = decoded_bytes.decode('utf-8')\n\nreturn fix_base64_padding(decoded_string)"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        1408,
        416
      ],
      "id": "b6ef286e-16a7-4130-bdce-01c842bd812e",
      "name": "Base64 Decode"
    },
    {
      "parameters": {
        "description": "get data from file",
        "jsCode": "// The 'data' variable contains the output of the previous node.\nconst fileData = data.item.binary;\n\n// Check if binary data exists\nif (fileData) {\n  // Use the built-in helper to get the binary data as a string\n  const fileContent = await this.helpers.get = await this.helpers.getBinaryData('utf8');\n  \n  // Return the file content as a new item in the workflow\n  return [{ json: { fileContent } }];\n}\n\n// Return an empty item if no binary data was found\nreturn [{}];"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        -528,
        816
      ],
      "id": "eafbe174-5237-48d8-bfff-497e6e71d43e",
      "name": "Data from file"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Project Creator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Project Creator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "git - clone repo": {
      "ai_tool": [
        [
          {
            "node": "Project Creator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create DIR": {
      "ai_tool": [
        [
          {
            "node": "Project Creator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a user's repositories in GitHub": {
      "ai_tool": [
        [
          {
            "node": "Project Creator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete DIR": {
      "ai_tool": [
        [
          {
            "node": "Project Creator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Dir structure": {
      "ai_tool": [
        [
          {
            "node": "Project Creator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Git - project status": {
      "ai_tool": [
        [
          {
            "node": "Project Creator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "List files in GitHub": {
      "ai_tool": [
        [
          {
            "node": "Project Creator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a file in GitHub": {
      "ai_tool": [
        [
          {
            "node": "Project Creator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a file in GitHub": {
      "ai_tool": [
        [
          {
            "node": "Project Creator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Base64 Decode": {
      "ai_tool": [
        [
          {
            "node": "Project Creator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Data from file": {
      "ai_tool": [
        [
          {
            "node": "Project Creator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c1c9ad55-6c5c-4624-9664-71a6e47134e8",
  "meta": {
    "instanceId": "90b3e064fd845c32224de46c0559c4e60fc265dca4202512fa924055e1bf32ae"
  },
  "id": "XAV4lt3WrBHlppBW",
  "tags": []
}